<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Something2Else -->
      <package
            uri="platform:/resource/Something2Else/model/Something2Else.ecore"
            class="Something2Else.Something2ElsePackage"
            genModel="model/Something2Else.genmodel"/>
   </extension>

</plugin>
